<html>
   <head>
      <title>Ho Yeah Eat</title>
   </head>

   <body>
      <div style="text-align: center;">Ho Yeah Eat</div>
      <form action="/" method="post">
         <div style="margin-left:auto; margin-right:auto; border: solid black 1px; width: 200px; ">
            <input name="searchInput" size="8"></input>
            <button type=submit>Search</button>
         </div>
      </form>
      
      <div>
        {% with messages  = get_flashed_messages() %}
            {% if messages %}
                    <div>
                        {% for message in messages %}
                            {% for desc in message.split(" | ") %}
                                <div style="margin-left:auto; margin-right:auto; border: solid black 1px; width: 200px; ">
                                {% for info in desc.split(",") %}
                                {{ info }}<br/>
                                {% endfor %}
                                </div>
                                <br/>
                            {% endfor %}
                        {% endfor %}
                    </div>
            {% endif %}
        {% endwith %}
   </body>
</html>
